cherrypy==3.7.0
flask-cors==1.10.3
flask-restful==0.3.5
flask==0.10.1
git+https://github.com/xivo-pbx/xivo-auth-client.git
git+https://github.com/xivo-pbx/xivo-lib-python.git
git+https://github.com/xivo-pbx/xivo-lib-rest-client.git  # from xivo-auth-client
git+https://github.com/xivo-pbx/xivo-bus.git
kombu==3.0.34
pyopenssl==0.14  # from xivo-lib-python
pyyaml==3.11  # from xivo-lib-python
requests==2.4.3
