git+https://github.com/wazo-pbx/wazo-auth-client.git  # from xivo-lib-python
git+https://github.com/wazo-pbx/xivo-lib-python.git
git+https://github.com/wazo-pbx/xivo-lib-rest-client.git  # from wazo-auth-client
git+https://github.com/wazo-pbx/xivo-bus.git
cheroot==6.5.2
flask-cors==3.0.2
flask-restful==0.3.5
flask==1.0.2
kombu==3.0.35
marshmallow==2.16.3
pyyaml==3.12  # from xivo-lib-python
requests==2.21.0
