Source: xivo-amid
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, dh-systemd (>= 1.5), python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: xivo-amid
Architecture: all
Pre-Depends: xivo-libamid (= ${binary:Version})
Depends: ${python:Depends}, adduser, python-kombu
Description: Wazo PBX's Proxy for Asterisk's AMI Events
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .

Package: xivo-libamid
Architecture: all
Depends: ${python:Depends},
         python-cherrypy3,
         python-flask,
         python-flask-restful,
         python-flask-cors (>= 3.0.2),
         python-kombu,
         python-marshmallow,
         python-requests,
         xivo-auth-client,
         xivo-bus (>= 15.05~20150311.194150.b00ca46-1),
         xivo-lib-python (>= 13.02~20130125.161022.4959dfa-1)
Description: Wazo amid lib
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
