[Unit]
Description=wazo-amid server
ConditionPathExists=!/var/lib/wazo/disabled
After=network-online.target asterisk.service rabbitmq-server.service
StartLimitBurst=15
StartLimitIntervalSec=150

[Service]
ExecStart=/usr/bin/python3 -u /usr/bin/wazo-amid
SyslogIdentifier=wazo-amid
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
