[Unit]
Description=wazo-amid server
ConditionPathExists=!/var/lib/wazo/disabled
After=network-online.target asterisk.service rabbitmq-server.service wazo-confgend.service
Before=monit.service

[Service]
Type=forking
ExecStartPre=/usr/bin/install -d -o wazo-amid -g wazo-amid /run/wazo-amid
ExecStart=/usr/bin/wazo-amid
PIDFile=/run/wazo-amid/wazo-amid.pid

[Install]
WantedBy=multi-user.target
