[Unit]
Description=xivo-amid server
ConditionPathExists=!/var/lib/wazo/disabled
After=network-online.target asterisk.service rabbitmq-server.service xivo-confgend.service
Before=monit.service

[Service]
Type=forking
ExecStartPre=/usr/bin/install -d -o xivo-amid -g xivo-amid /var/run/xivo-amid
ExecStart=/usr/bin/xivo-amid
PIDFile=/var/run/xivo-amid/xivo-amid.pid

[Install]
WantedBy=multi-user.target
